<div class="icons">
  <button mat-button mat-icon-button matTooltip="Remind me" class="remindme"> 
    <mat-icon>add_alert</mat-icon>
  </button>
  <button mat-button mat-icon-button matTooltip="collaborator"> 
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-button mat-icon-button matTooltip="change color" [matMenuTriggerFor]="menu" (click)="color()"> 
    <mat-icon>color_lens</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let colors of colorsList" fxLayout="row">
      <div *ngFor="let color of colors" class="colorsList">
        <button [ngStyle]="{ 'background-color': color.colorCode }"
            (click)="changeColor(color)"
            matTooltip="{{ color.name }}"
            mat-mini-fab
          ></button>
      </div>
    </div>
  </mat-menu>
  <button mat-button mat-icon-button matTooltip="Add image"> 
    <mat-icon>crop_original</mat-icon>
  </button>
    <button mat-button mat-icon-button matTooltip="Archive" (click)="doarchive()">
      <mat-icon>archived</mat-icon>
    </button>
  <button mat-button mat-icon-button matTooltip="more" [matMenuTriggerFor]="menu1" (click)="iconview()"> 
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu1="matMenu" >
    <button mat-menu-item (click)="toTrash()">
      Delete Note
    </button>
    <button mat-menu-item [matMenuTriggerFor]="addlabel" >
      Add label
    </button> 
  </mat-menu>
</div>
