<div class="icons" id="get-notes">
  <button [matMenuTriggerFor]="datetime" mat-button mat-icon-button matTooltip="Remind me" class="remindme"> 
    <mat-icon>add_alert</mat-icon>
  </button>
  <mat-menu #datetime="matMenu">
    <input [owlDateTimeFilter]="myFilter" #ImpDate [owlDateTimeTrigger]="dt" [owlDateTime]="dt" placeholder="Date-Time">
    <owl-date-time #dt></owl-date-time>
    <button mat-icon-button color="primary" (click)="reminder(ImpDate.value)">Save</button>
  </mat-menu>
  <owl-date-time #dt1></owl-date-time>
  <button mat-button mat-icon-button matTooltip="collaborator" (click)="collaborators(note)"> 
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-button mat-icon-button matTooltip="change color" [matMenuTriggerFor]="menu" (click)="color()"> 
    <mat-icon>color_lens</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let colors of colorsList" fxLayout="row">
      <div *ngFor="let color of colors" class="colorsList">
        <button [ngStyle]="{ 'background-color': color.colorCode }"
            (click)="changeColor(color)"
            matTooltip="{{ color.name }}"
            mat-mini-fab
          ></button>
      </div>
    </div>
  </mat-menu>
  <button mat-button mat-icon-button matTooltip="Add image"> 
    <mat-icon>crop_original</mat-icon>
  </button>
    <button mat-button mat-icon-button matTooltip="Archive" (click)="doarchive()">
      <mat-icon>archived</mat-icon>
    </button>
  <button mat-button mat-icon-button matTooltip="more" [matMenuTriggerFor]="menu1" (click)="iconview()"> 
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu1="matMenu" >
    <button mat-menu-item (click)="toTrash()">
      Delete Note
    </button>
    <button mat-menu-item [matMenuTriggerFor]="addlabel" >
      Add label
    </button>
    </mat-menu>
  <mat-menu #addlabel="matMenu" style="width:200px;">
    <div style="height:300px;">
      <div style="display:flex;flex-direction: row;margin-top:20px;align-items: center;width:90%;">
        <button mat-button mat-icon-button matTooltip="search" autofocus="off" type="reset" class="clear">
          <mat-icon (click)="createShow(labelName.value)">search</mat-icon>
        </button>
        <div class="display-labels" (click)="$event.stopPropagation();">
        <input matInput class="text" placeholder="Enter label name" #labelName (keyup)="0" autocomplete="off"/>
      </div>
    </div>
    <div style="display:flex;flex-direction: row;margin-top:20px;align-items: center;width:90%;">
      <button mat-button mat-icon-button matTooltip="cancel" autofocus="off" type="reset" class="clear">
        <mat-icon>clear</mat-icon>
      </button>
      <div class="display-labels" (click)="$event.stopPropagation();">
      <input matInput class="text" placeholder="Create new label" [(ngModel)]="label" #labelInput autocomplete="off"/>
    </div>
      <button style="margin-left:-40px" mat-button mat-icon-button matTooltip="Create label" class="icon-button" 
      (click)="createLabelAddNote(label)" class="check">
            <mat-icon>check</mat-icon>
      </button>
   </div>
    <div  *ngFor="let label of labels | filter:labelName.value">
      <mat-checkbox (click)="addlabeltonote(label)" style="margin-left: 10px;"></mat-checkbox>
      <label mat-menu-item style="display: inline;">{{label.labelName}}</label>
    </div>
  </div>
  </mat-menu>
</div>
