<div  style="display:flex;flex-direction: row;">
    <button mat-icon-button class="expandedicons"><mat-icon>notification_important</mat-icon></button>
    <button mat-icon-button class="expandedicons"><mat-icon>person_add</mat-icon></button>
    <button mat-icon-button class="expandedicons"><mat-icon>color_lens</mat-icon></button>
    <button mat-icon-button class="expandedicons"><mat-icon>image</mat-icon></button>
    <button mat-icon-button class="expandedicons" (click)="doarchive()"><mat-icon>archive</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="toTrash()">Delete Note</button>
          <button mat-menu-item>Add Label</button>
        </mat-menu>
    </button>
</div>
