mat-icon{
    opacity: 0.7;
    font-size: 17px;
}
.icons{
    display:flex;
    flex-direction: row;  
}
.remindme{
    padding-left:10px;
}
.mat-card-footer {
    margin: 0 -16px -16px -16px;
    display: inline-block;
}
.text{
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
    margin-top:-4px;
    margin-left: 20px;
    margin-right: 10px;
    width:60px;
}