.noteCard {
    align-items: center;
      border: none;
      display: flex;
      flex-wrap: wrap;
      flex-shrink: 3;
      justify-content: space-between;
      float: left;
      margin-bottom: 23px;
      
}