.registerbox{
     width: 25%;
     margin-top: 120px;
     margin-left: 40%;
     align-items: center;
     border: 2px solid rgb(8, 43, 109)
     
    
}

.registerfields{
    width: 100%;
    text-align: center;
    background-color: blue($color: #000000);
}

.cardtitle{
    color:rgb(9, 15, 139);
}
.mat-form-field{
    width:100%;
}