
.keepimage{
    height: 40px;
    width: 40px;
    padding-right:2%;
    display: block;
}
.keeptext{
  font-family: sans-serif;
  font-size: 22px;
  color:rgb(99, 96, 96);
  margin-top: -12px;
}
.searchbar{
  border:none;
  outline: none;
  width: 90%;
  height: 100%;
}
.menu{
  padding-left: 1%;
  padding-right: 1%;
}
.headericons{
  margin-left: 15%;
  color:rgba(192, 192, 192, 0.979);
}
.form{
  border:1px solid grey;
  padding:1px;
  height: 41px;
  border-radius: 14px;
  width: 100%;
  align-items: center;
}
.startmenu{
  width:100%;
  display:flex;
  flex-direction: row;
  height:45px;
  padding : 4px;
  padding-left: 4px;
  align-content: center;
  position: fixed;
  z-index:99999999;
}
.formbar{
  width:40%;
  margin-left: 10%;
}
.headermenu{
  width:20%;
}
.refresh{
  color:rgba(192, 192, 192, 0.979);
}
.mat-drawer-container{
  width:15%;height:100%;position:fixed;
}
.mat-drawer{
  border:none;background-color:white;
  width:100%;
}
.alignitems{
  display: flex;flex-direction:column;margin-left: 20px;
}
.buttons{
  width:100%;
}