<mat-toolbar style="width:100%;background-color: white;border:1px solid silver;height:35px;border-right: none;">
  <mat-toolbar-row>
    <div  class="startmenu" style="display:flex; flex-direction: row;">
      <div class="headermenu" style="display:flex; flex-direction: row;">
    <div class="menu">
      <button mat-icon-button (click)="snav.toggle()" fxShow="true">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>   
      <img class="keepimage" src="/assets/img/keep_48dp.png" alt="keep">
    </div>
    <div class="keeptext">
    <p>keep</p>
    </div>
  </div>
    <div class="formbar">
    <form class="form" style="display:flex; flex-direction: row;">
     <div class="searchicon">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </div>
      <input  class="searchbar" type="text" placeholder="Search">
    <div class="clear">
      <button mat-icon-button>
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </form>
    </div>
  <div style="display:flex; flex-direction: row;" class="headericons">
    <div class="refresh">
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
     <div class="list">
      <button mat-icon-button>
        <mat-icon>grid_view</mat-icon>
      </button>
    </div>
   <div class="settings">
      <button mat-icon-button class="settings" [matMenuTriggerFor]="menu" matTooltip="settings">
        <mat-icon>settings</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
     </button>
    </div>
   <div class="apps">
      <button mat-button mat-icon-button class="apps" (click)="apps()" fxShow="true">
        <mat-icon>apps</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
      </button>
    </div>
    <div>
    <button mat-button  mat-icon-button (click)="account()" fxShow="true" width="30">
    <mat-icon> account_circle</mat-icon>
    </button>
  </div>
  </div>
</div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- sidenav -->
<mat-drawer-container>
  <mat-drawer #snav mode="side" [opened]="true">
    <mat-nav-list>
      <div class="alignitems">
        <div class="buttons" [ngClass]="{ 'colorRed' :vnotes}">
          <button mat-icon-button class="whole" (click)="notes()"> 
              <mat-icon class="bulb">lightbulb_outline</mat-icon>
            <span class="name">Notes</span>
          </button>
        </div>
      <br>
        <div class="buttons" [ngClass]="{ 'colorRed' :vreminder}">
        <div class="reminder">
          <button mat-icon-button class="whole" (click)="reminder()">
              <mat-icon class="reminder">notifications</mat-icon>
            <span class="name">Reminders</span>
          </button>
        </div>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div style="margin-left:20%;">
            <label>Labels</label>
        </div>
        <br>
        <div class="buttons" [ngClass]="{ 'colorRed' :veditLabel}">
        <div class="editLabels">
          <button mat-icon-button class="whole" (click)="editLabel()">
              <mat-icon class="editlabels">edit</mat-icon>
            <span class="name">Edit Labels</span>
          </button>
        </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div class="buttons" [ngClass]="{ 'colorRed' :varchive}">
        <div class="archive">
          <button mat-icon-button class="whole" (click)="archive()" [routerLink]="['/dashboard/archievenotes']">
              <mat-icon class="archieve">archive</mat-icon>
            <span class="name">Archive</span>
          </button>
        </div>
        </div>
        <br>
        <div class="buttons" [ngClass]="{ 'colorRed' :vtrash}">
        <div class="trash">
          <button mat-icon-button class="whole" (click)="trash()" [routerLink]="['/dashboard/trashnotes']">
              <mat-icon class="trash">delete</mat-icon>
            <span class="name">Trash</span>
          </button>
        </div>
      </div>
      </div>
    </mat-nav-list>
  </mat-drawer>
</mat-drawer-container>
<div>
<br><router-outlet></router-outlet>
</div>