<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-card class="forgotbox">
        <mat-card-title class="forgottitle">Enter Your Email</mat-card-title>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="pat@example.com">
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
    </mat-card>
</body>
</html>
