<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-card class="forgotbox">
        <mat-card-title class="forgottitle">Enter Your Email</mat-card-title>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="email" placeholder="pat@example.com">
          <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.hasError('minlength')">
                Minimum <strong>length</strong> is 4
            </mat-error>
            <mat-error *ngIf="password.hasError('required')">
                password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Conform Password</mat-label>
            <input matInput [formControl]="conformpassword" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="conformpassword.hasError('minlength')">
                Minimum <strong>length</strong> is 4
            </mat-error>
            <mat-error *ngIf="conformpassword.hasError('required')">
                password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onforgot()">change password</button>
    </mat-card>
</body>
</html>
