<div>
    <mat-card (click)="onOpen()" *ngIf="!open" class="closedmatcard" >
        <input matInput class="searchbar" placeholder="Take a note...">
            <div class="icons">
                <button mat-icon-button><mat-icon>check_box</mat-icon></button>
                <button mat-icon-button><mat-icon>brush</mat-icon></button>
                <button mat-icon-button><mat-icon>image</mat-icon></button>
             </div>
    </mat-card>

    <mat-card  *ngIf="open" class="openedmatcard" >
        <form [formGroup]="createNoteForm">
            <div>
                <input type="text" placeholder="Title" class="input" formControlName="title">
            </div>
            <div>
                <input type="text" placeholder="description" class="input" formControlName="description">

            </div>
            <div  style="display:flex;flex-direction: row;align-items: center;">
            <app-icons></app-icons>
            <button style="left:10%;border:none;outline: none;"(click)="createNote()">close</button>
            </div>
        </form>
    </mat-card> 
    <app-getnotes></app-getnotes>
</div>