
  .matcardnote{
    width:210px;
    left:23%;
  }
  .shownotes{
    margin-top:1%;
    bottom: 20%;
    padding-right: 20px;
  }
  .icons{
    visibility: hidden;
}
.shownotes:hover{
    .icons{
        visibility: visible;
    }
    .pinimage{
      visibility: visible;
    }
}
.content{
  width:90%;
}
.text{
  border:none;
  outline:none;
  background-color: white;
}
.mat-chip{
  font-size: 8px;
}
.pinimage{
  width: 20px;
  margin-top: -10px;
  visibility: hidden;
}
.pinbutton{
  border:none;
  outline:none;
}
.mat-chip{
  margin-top: 15px;
}
