
  .matcardnote{
    width:auto;
    left:23%;
  }
  .shownotes{
    margin-top:1%;
    bottom: 20%;
    padding-right: 20px;
  }
  .icons{
    visibility: hidden;
}
.shownotes:hover{
    .icons{
        visibility: visible;
    }
}
.text{
  border:none;
  outline:none;
  background-color: white;
}