.loginbox{
    width: 25%;
    margin-top: 120px;
    margin-left: 40%;
    border: 2px solid rgb(8, 43, 109);
    text-align: center;
   
}
.logintitle{
    color:rgb(9, 15, 139);
}

.loginbutton{
    width: 250px;
}
.body{
    background-color: lighten($color: #000000, $amount: 0);
}