
    <div fxLayout="column" style="margin-top:40px;margin-left:250px">
        <div style="flex-wrap: wrap;">
                <p>pin notes</p><br>
                <div *ngFor="let note of notes" class="noteCard">
                    <app-shownotes *ngIf="!note.trashed&&!note.archieved&&note.pinned" [note]="note"></app-shownotes>
            </div>
        </div>
        <div style="flex-wrap: wrap;">
                <p>other notes</p><br>
                <div *ngFor="let note of notes" class="noteCard">
                    <app-shownotes *ngIf="!note.trashed&&!note.archieved&&!note.pinned" [note]="note">
                    </app-shownotes>
                </div>
        </div>
    </div>

  