.loginbox{
    width:18%;
    margin-top: 10%;
    margin-left: 40%;
    border: 2px solid rgb(8, 43, 109);
    text-align: center;
    position: fixed;
}

.logintitle{
    color:rgb(9, 15, 139);
}
.mat-form-field{
    width:100%;
}
