<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <mat-card class="loginbox">
        <mat-card-title class="logintitle">Reset Password</mat-card-title>
        <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
               <input matInput [formControl]="newpassword" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="newpassword.hasError('minlength')">
                    Minimum <strong>length</strong> is 4
                </mat-error>
                <mat-error *ngIf="newpassword.hasError('required')">
                    password is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <!-- <mat-form-field appearance="outline">
                <mat-label>Conform Password</mat-label>
                   <input matInput [formControl]="conformpassword" [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="conformpassword.hasError('minlength')">
                        Minimum <strong>length</strong> is 4
                    </mat-error>
                    <mat-error *ngIf="conformpassword.hasError('required')">
                        password is <strong>required</strong>
                    </mat-error>
                </mat-form-field> -->
                <p><button mat-raised-button color="primary" (click)="onReset()">Reset password</button></p> 
            </mat-card>
    
</body>
</html>