<div style="overflow-x: hidden;">
  <div class="editlabels">Edit labels</div>
  <div style="display:flex;flex-direction: row;margin-left: -15px;margin-top:20px;align-items: center;width:100%;">
      <button mat-button mat-icon-button matTooltip="cancel" autofocus="off" type="reset" class="clear">
        <mat-icon>clear</mat-icon>
      </button>
      <input matInput class="text" placeholder="Create new label" [(ngModel)]="labelName" #labelInput autocomplete="off"/>
      <button mat-button mat-icon-button matTooltip="Create label" class="icon-button" (click)="createLabel(labelName)" class="check">
            <mat-icon>check</mat-icon>
      </button>
   </div>
   <div *ngFor="let label of labels">
     <div style="display: flex;flex-direction: row; align-items: center;">
      <div>
     <button mat-button mat-icon-button matTooltip="delete" class="fordelete" (click)="deletelabel(label)"><mat-icon>delete</mat-icon></button>
    </div>
     <div style="width: 70%;"><input type="text" class="fortext" [(ngModel)]="label.labelName" spellcheck="false">
    </div>
     <div>
     <button mat-button mat-icon-button matTooltip="edit" class="foredit" (click)="editlabel(label)"><mat-icon>edit</mat-icon></button>
    </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <button (click)="closedialog()" style="border:none;outline: none;background-color: white;margin-left: 200px;
  margin-top: 25px;">Done</button>
  </div>
  
  