.text{
    border:none;
    outline: none;
}
mat-card {
    min-width: 400px;
    margin: -24px;
    padding-top: 20px;
    overflow-y: hidden;
}
mat-icon{
    opacity: 0.7;
    font-size: 17px;
}
mat-card-footer{
    display:flex;
    flex-direction: row;
}